PINPOINT_HBASE_IMAGE=pinpointdocker/pinpoint-hbase:2.5.3
PINPOINT_COLLECTOR_IMAGE=pinpointdocker/pinpoint-collector:2.5.3
PINPOINT_WEB_IMAGE=pinpointdocker/pinpoint-web:2.5.3
PINPOINT_COLLECTOR_PORT=9994
PINPOINT_WEB_PORT=28080
PINPOINT_NETWORK=pinpoint-net
