server:
  port: 8094

spring:
  application:
    name: kafka-retry-api
  datasource:
    url: jdbc:mysql://localhost:3307/kafka_retry?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 10
      minimum-idle: 5
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
    open-in-view: false
  kafka:
    bootstrap-servers: localhost:9093

logging:
  level:
    root: INFO
    com.biuea.kafkaretry: DEBUG
